-console -novid -noaafonts -nojoy -high -skipstreamingdrivers -map dota -nocrashdialog -nocrashmonitor -norepairfiles -noverifyfiles -nodircheck -nocache -nohltv -single_core -prewarm -processheap -limitvsconst rendersystem_thread_mode 2 -32bit -nod3d9ex
